:root {
    --white-color: #f4f5ef;
    --peach-color: #f8c7a4;
    --pink-color: #e784a8;
    --orange-color: #eb9d45;
    --dark-yellow-color: #bb9a3e;
    --yellow-color: #435edb;
    --blue-gray-color: #c8dbdf;
    --purple-color: #a146aa;
    --red-color: #d74d4c;
    --dark-orange-color: #a65d35;
    --light-green-color: #8fcb62;
    --green-color: #35884e;
    --light-gray-color: #a0abb1;
    --red-color: #962f2c;
    --brown-color: #682d2c;
    --cyan-color: #85dfeb;
    --aqua-color: #4f3ed5;
    --greenish-color: #1b4c5a;
    --gray-color: #5e6a82;
    --black-color: #191023;
    --light-blue-color: #72adee;
    --blue-color: #435edb;
    --dark-blue-color: #474394;
    --dark-gray-color: #322d4d;
    --default-background: #DFDFdd;
    --default-text-color: #000000;
    --background-color: #191023;
    --bar-shadow: rgba(0, 0, 0, 0.3);
    --bar-background: #fff;
    --tag-fore-color: #f4f5ef;
    --tag-color: #1b4c5a;
    --tag-alt-color: #35884e;
    --bar-background: #555;
    --bg-img: url("../images/backgrounds/gaming-pattern.webp");
    --profile-bg-tint: rgba(67, 94, 219, 0.2);
    --profile-container-tint: #EFEFEd;
    --profile-container-shadow-tint: rgba(29, 31, 34, 0.65);
    --profile-shadow-tint: rgba(25, 16, 35, 0.4);
    --profile-outline-tint: rgba(50, 45, 77, 0.72);
    --profile-shadow-filter: brightness(0) saturate(100%) invert(38%) sepia(87%) saturate(3629%) hue-rotate(195deg) brightness(103%) contrast(103%);
    /* --profile-shadow-filter: brightness(0) saturate(100%) invert(48%) sepia(8%) saturate(3152%) hue-rotate(85deg) brightness(90%) contrast(81%); */
    --profile-outline-filter: brightness(0) saturate(0) contrast(115%);
}